<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing 1</title>
</head>
<body>
    <div class="container">
        <form action="." method="POST">
            {% csrf_token %}
            {{form.as_p}}
            {{ myFilter.form}} 
            <input type="submit" value="Search"/>
        </form>
    </div>
    {% if shops %}
        <div class="container">
            <div class="col-md-2">
                <h1>Shops</h1>
                {% for i in shops %}
                    <span>
                        {{i.name}}
                    </span>
                {% endfor %}
            </div>
        </div>
    {% endif %}
</body>
</html>